<h3>Details</h3>

<div class="col-sm-12">
    <label for="id" class="col-sm-3">ID</label>
    <div class="col-sm-9">{{model.id}}</div>
</div>
<div class="col-sm-12">
    <label for="title" class="col-sm-3">Title</label>
    <div class="col-sm-9">{{model.title}}</div>
</div>
<div class="col-sm-12">
    <label for="content" class="col-sm-3">Content</label>
    <div class="col-sm-9">{{model.content}}</div>
</div>
<div class="col-sm-12">
    <label for="create_date" class="col-sm-3">Created Date</label>
    <div class="col-sm-9">{{model.create_date}}</div>
</div>
<div class="col-sm-12">
    <label for="update_date" class="col-sm-3">Update Date</label>
    <div class="col-sm-9">{{model.update_date}}</div>
</div>