<h2>Edit a Post</h2>

<form method="put" action="http://159.89.148.4:8081/posts/{{post.id}}">
    <div class="col-sm-12">
        <label class="col-sm-3" for="id">ID</label>
        <input type="text" name="id" value="{{post.id}}" class="form-control col-sm-9" disabled />
    </div>
    <div class="col-sm-12">
        <label class="col-sm-3" for="title">Title</label>
        <input type="text" name="title" class="form-control col-sm-9" value="{{post.title}}" />
    </div>
    <div class="col-sm-12">
        <label class="col-sm-3" for="content">Content</label>
        <textarea name="content" class="form-control col-sm-9">{{post.content}}</textarea>
    </div>
    <div class="col-sm-12" style="display: none;">
        <label class="col-sm-3" for="create_date">Create Date</label>
        <input name="create_date" value="{{post.create_date}}" class="form-control col-sm-9" />
    </div>
    <div class="col-sm-12" style="display: none;">
        <label class="col-sm-3" for="update_date">Update Date</label>
        <input type="text" name="updated_date" value="now()" class="form-control col-sm-9" />
    </div>
    <div class="col-sm-12">
        <input type="submit" class="btn btn-success" value="Create" />
    </div>
</form>